@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
    font-family:'Fira Sans' ;
    max-width: 1440px;
    max-height: 900px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    height: 0px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo div {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 2px;
}
.menu {
    display: flex;
    gap: 25px;

}
.user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo_img{
    width: 48px;
    height: 48px;
    margin-left: 60px;
}
.burger{
    display: none;
    visibility: hidden;
}
footer {
    display: flex;
    flex-direction: row;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    gap: 155px;
    width: 1346px;
    margin-top: 1700px;
    margin-left: -10px;
}
.social-icons{
    width: 300px;

}

.social-icons img {
    width: 32px;
    height: 32px  ;
    margin: 0 10px;
}
.footglav{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.16px;
}
.listi{
    visibility: hidden;
    display: none;
}
.footother{
    color: #909090;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.16px;
    width: 540px;
}
.burger{
    display: none;
    visibility: hidden;
}
.strel{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: -28px;
}
.napra{
    position: absolute;
    color: #0094FF;
    width: 119px;
    height: 23px;
    top: 128px;
    left: 164px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    cursor: pointer;
}
.main{
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    width: 164px;
    height: 48px;
    top: 167px;
    left: 132px;
    color:#121212;
    width: 441px;
}
.video{
    position: absolute;
    width: 1176px;
    height: 640px;
    top: 300px;
    left: 132px;
    border-radius: 12px;
}
.strell{
    position: absolute;
    width: 68px;
    height: 68px;
    top: 585px;
    left: 1315px;
    cursor: pointer;
}
.strelr{
    position: absolute;
    width: 68px;
    height: 68px;
    top: 585px;
    left: 40px;
    cursor: pointer;
}
.nopka{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 555px;
    left: 660px;
    cursor: pointer;
}
.other{
    color: #121212;
    width: 1135px;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    left: 132px;
    top: 1000px;
}
.katalog{
    position: absolute;
    top: 330px;
    left: 350px;
    font-family:'Fira Sans' ;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background-color: yellow;
    color: black;
    border: none;

    cursor: pointer;
    height: 72px;
    width: 247px;
    border-radius: 16px;
}
.vote{
    position: absolute;
    width: 1018px;
    height: 418px;
    top: 1170px;
    left: 212px;
    border-radius: 12px;
    color: #FFFFFF;
    box-shadow: 16px 10px 16px 16px #0000000F;
}
.quest{
    color: #909090;
    position: absolute;
    top: 30px;
    left: 400px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.ctr{
    color: #121212;
    position: absolute;
    top: 30px;
    left: 473px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.mainbox{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color:#121212;
    position: absolute;
    left: 70px;
    top: 100px;
}
.toch{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.opisa{
    color: #121212;
    margin-top: 1px;
}
.bbig{
    display: flex;
    flex-direction: column;
    margin-top: 144px;
}
.vibor{
    display: flex;
    flex-direction: row;
    height: 24px;
    gap: 24px;
    margin-top: 2%;
    margin-left: 70px;
}
@media screen and (max-width: 360px) {
    body{
        font-family:'Fira Sans' ;
        max-width: 360px;
        max-height: 3981px;
    }  
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #FFFFFF;
        color: white;
        font-size: 24px;
    }
    .katalog{
        visibility: visible;
        position: absolute;
        top: 258px;
        left: 17px;
        font-family:'Fira Sans' ;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        background-color: yellow;
        color: black;
        border: none;
    
        cursor: pointer;
        height: 44px;
        width: 296px;
        border-radius: 8px;
    }
    .logo p {
        display: none;
        visibility: hidden;
    }
    .user{
        margin-left: -160px;
        margin-top: 10px;
    }
    .user_pic{
        position: absolute;
        width: 32px;
        height: 32px;
        margin-left: 50px;
    }
    .logo_img{
        width: 32px;
        height: 32px;
        margin-top: 14px;
        margin-left: 80px;
    }
    .burger{
        display: block;

        visibility: visible;
        width: 24px;
        height: 24px;
        margin-top: 12px;
        margin-left: 16px;
    }
    footer {
        display: flex;
        flex-direction: column;
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
        gap: 28px;
        width: 322px;
        height: 228px;
        margin-top: 1155px;
        margin-left: -10px;
    }
    .footother{
        color: #909090;
        font-weight: 400;
        font-size: 14px;
        line-height: 20.16px;
        width: 324px;
    }
    .strell{
        visibility: hidden;
        display: none;
    }
    .strelr{
        visibility: hidden;
        display: none;
    }
    .napra{
        left: 55px;
    }
    .main{
        left: 28px;
        top: 123px;
        width: 320px;
    }
    .video{
        left: 0px;
        border-radius: 0px;
        width: 360px;
        height: 206px;
    }
    .nopka{
        left: 160px;
        top: 385px;
        width: 42px;
        height: 42px;
    }
    .toch{
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    .opisa{
        color: #121212;
        margin-top: 1px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .bbig{
        display: flex;
        flex-direction: column;
        margin-top: 144px;
    }
    .vibor{
        display: flex;
        flex-direction: row;
        height: 24px;
        gap: 24px;
        margin-top: 16px;
        margin-left: 70px;
    }
    .vote{
        position: absolute;
        width: 328px;
        height: 320px;
        top: 705px;
        left: 15px;
        border-radius: 12px;
    }
    .other{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color:#121212;
        position: absolute;
        left: 15px;
        top: 510px;
        width: 325px;
        height: 80px;
        text-align: center;
    }
    .quest{
        color: #909090;
        position: absolute;
        top: -80px;
        left: 80px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
    }
    .ctr{
        color: #121212;
        position: absolute;
        top: -80px;
        left: 175px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
    }
    .mainbox{
        left: 20px;
        top: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #121212;
    }
    .bbig{
        margin-top: 78px;
        margin-left: -52px;
    }
}