@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
    font-family:'Fira Sans' ;
    background-image: url(../Photo/abstract_1@4x\ 3.png);
}
.login_menu{
    display: flex;
    width: 528px;
    height: 725px;
    top: 87px
}
.bel_logo{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 361px;
    top: 87px;
}
.logg{
    position: absolute;
    color: #909090;

    flex-direction: row;
    left: 153px;
    top: 200px;
    font-family:'Fira Sans', sans-serif;
}
.ex{
    position: absolute;
    border-bottom: 5px solid #FFD400; /* Цвет и стиль подчеркивания */

    font-size: 22px;
    flex-direction: row;
    left: 465px;
    top: 215px;
    font-family:'Fira Sans';
}
.form-num {
    position: absolute;
    left: 70px;
    top: 320px;
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input, textarea {
    width: 527px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 1.5; 
  }
  .button {
    position: absolute;
    left: 70px;
    top: 420px;
    background-color: yellow;
    height: 56px;
    width: 527px;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px 210px;
  }
  @media screen and (max-width: 360px) {
    body{
      height: 720px;
      max-width: 360px;
      max-height: 720px;
    }
    .bel_logo{
        position: absolute;
        width: 52px;
        height: 52px;
        left: 150px;
        top: 53px;
      }
      .logg{
        border-bottom: 0px;
        left: 85px;
        top: 125px;
      }
      input, textarea {
        width: 320px;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        line-height: 1.5; 
      }
      .button {
        position: absolute;
        left: 20px;
        top: 380px;
        background-color: yellow;
        height: 56px;
        width: 320px;
        border: none;
        color: black;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 12px;
        padding: 10px  140px;
      }
      .form-num {
        position: absolute;
        left: 20px;
        top: 265px;
        margin-bottom: 15px;
      }
}
